<!DOCTYPE html>
<html>
<head>
  <title>Plotathing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top <%= controller_name %> <%= action_name %>">
	<div class="container">
		<a id="logo">
			plot-a-thing
		</a>
		
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sssr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		
		<nav role="navigation" class="navbar-default navbar-inner nav-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Plotter", plotter_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</div>
</header>
<div class="container">
	<div class="row">
	<span class="icon-bar"></span>
		<%= yield %>
	</div>
</div>

</body>
</html>
